<div class="card-car">
  <img src="../../public/images/image 1.png" alt="">
  <h2>Nama/Tipe Mobil</h2>
  <h1>430.000/hari</h1>
  <h3><img src="../../public/icon/icon-key.svg" alt=""> Start rent - Finish rent</h3>
  <h3><img src="../../public/icon/icon-clock.svg" alt=""> Updated at 4 Apr 2022, 09.00</h3>
  <div class="row">
    <div class="col-6">
      <button type="button" name="" id="" class="btn-delete">
        <img src="../../public/icon/icon-trash.svg" alt="">Delete
      </button>
    </div>
    <div class="col-6">
      <button type="button" name="" id="" class="btn-edit">
        <img src="../../public/icon/icon-edit.svg" alt="">Edit
      </button>
    </div>

  </div>

</div>