</div>
<div class="row fixed-top">
    <div class="col-auto sidebar-col">
        <div class="sidebar">
            <div class="logo-sidebar"></div>
            <a href="/">
                <div class="option">
                    <img src="../../public/icon/icon-home.svg" alt="">
                    <h2>Dashboard</h2>
                </div>
            </a>
            <a href="cars">
                <div class="selected">
                    <img src="../../public/icon/icon-truck.svg" alt="">
                    <h2>Cars</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <%- include("navbar") %>
        </div>
        <div class="row">
            <div class="col-auto p-0">
                <div class="sidebar-secondary">
                    <h1>CARS</h1>
                    <div class="selected">
                        <h2>List Car</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
                