<nav class="navbar navbar-expand shadow-sm navbar-custom">
    <a class="navbar-brand" href="#"></a>
    <ul class="navbar-nav me-auto mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link logo" href="#"></a>
        </li>
        <li class="nav-item">
            <img src="../../public/icon/icon-hamburger.svg" alt="" class="mt-1">
        </li>
    </ul>
    <form class="d-flex my-2 my-lg-0">
        <input class="form-control search-bar" type="text" placeholder="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 search-btn" type="submit">Search</button>
    </form>
    <div class="nav-account">
        <div class="avatar">U</div>
        <h2>Unis Badri</h2>
        <img src="../../public/icon/icon-downarrow.svg" alt="">
    </div>
</nav>