
<%- include("partials/head") %>
<%- include("partials/body") %>
<div class="breadcrumb">
    <h3>Cars</h3>
    <img src="../public/icon/icon-rightarrow.svg" alt="">
    <h3>List Car</h3>
    <img src="../public/icon/icon-rightarrow.svg" alt="">
    <h4>Add New Car</h4>
</div>
<div class="content-header">
    <h1>Add New Car</h1>
</div>
<div class="container form-add">
    <form>
        <div class="form-group required row">
            <label for="nama" class="col-sm-2 col-form-label control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nama" placeholder="Placeholder">
            </div>
        </div>
        <div class="form-group required row">
          <label for="harga" class="col-sm-2 col-form-label control-label">Harga</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="harga" placeholder="Placeholder">
          </div>
        </div>
        <div class="form-group required row">
            <label for="foto" class="col-sm-2 col-form-label control-label">Foto</label>
            <div class="col-sm-10">
              <input type="text" class="form-control input-upload" id="foto" placeholder="Placeholder">
              <small id="maxSize" class="form-text text-muted">
                File size max, 2MB
              </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="startRent" class="col-sm-2 col-form-label">Start Rent</label>
            <div class="col-sm-10">
              -
            </div>
        </div>
        <div class="form-group row">
            <label for="finishRent" class="col-sm-2 col-form-label">Finish Rent</label>
            <div class="col-sm-10">
              -
            </div>
        </div>
        <div class="form-group row">
            <label for="createdAt" class="col-sm-2 col-form-label">Created At</label>
            <div class="col-sm-10">
              -
            </div>
        </div>
        <div class="form-group row">
            <label for="updatedAt" class="col-sm-2 col-form-label">Updated At</label>
            <div class="col-sm-10">
              -
            </div>
        </div>
    </form>
</div>
<div style="position: relative; z-index: 2000;">
    <a href="/cars">
        <button type="button" class="btn btn-outline-primary search-btn">Cancel</button>
    </a>
    <a href="/cars">
        <button type="button" class="btn btn-outline-primary btn-save">Save</button>
    </a>
</div>
<%- include("partials/fixed-cars") %>
<%- include("partials/footer") %>